@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

//FONTS
$font-primary: Nunito, Arial, sans-serif;

//COLORS
$dark-blue: #1A1A2E;
$medium-blue: #16213E;
$light-blue: #0F3460;
$red: #E94560;